<!DOCTYPE html>
<html ng-app="lingvo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" value="notranslate"/>
    <title>Lingvo</title>
    <meta name="description" content="Lingvo">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../built/style.css">
</head>
<body>
hola
    <div class="container">
        <ng-view></ng-view>
    </div>

<script type="text/javascript" src="../built/app.js"></script>
</body>
</html>